.DS_Store
build/
**/build/
local.properties
*.apk
*.aab
*.class
*.iml
.gradle/
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/caches
/.idea/modules.xml
/.idea/libraries
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
*.jks
*.keystore
*.log
captures/
.externalNativeBuild/
.cxx
Thumbs.db
.idea/
